.section {
  padding: 40px 20px;
  margin-bottom: 20px;
  border-radius: 8px;


}


.section h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.section p {
  color: #333;
  line-height: 1.6;
}



.small-card {
  max-width: 500px;

  margin-top: 20px;
}

.card-title {
  margin-bottom: 15px;
}



.card {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
}
.card-body{
  font-family: Arial, Helvetica, sans-serif;

  
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 25% 50%;
  }

  50% {
    background-position: 50% 50%;
  }

  75% {
    background-position: 75% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.custom-card {
  background: linear-gradient(to right, #7d9aea, #0161ef);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-size: 200% auto;
  animation: moveGradient 8s linear infinite;
}



.star-unordered {
  list-style-image: url('../../assets/points1.png/');

}

.right-unordered {
  list-style-image: url('../../assets/right-arrow.png');
  list-style-position: inside;
}

.custom-card .card-title {
  color: #fff;
  font-weight: bold;
}

.table-responsive {
  overflow-x: auto;
}

.imp {
  color: green;
  font-style: italic;
}

.custom-card .form-label {
  color: #fff;
  font-weight: bold;
}

.custom-card .form-control {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
}

.custom-card .btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.custom-card .btn-primary:hover {
  background-color: #3b8bff;
  transition: background-color 0.3s ease;
}

ol {
  counter-reset: item;
  list-style-type: none;
}

ol li::before {
  content: counter(item) ". ";
  counter-increment: item;

  margin-right: 0.5em;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top:50px;
}