.header-image {
  position: sticky;
  z-index: 0;
  overflow: hidden;
  border-radius: 40px;
}

.header-bg-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  inset: 0;
}

.header-overlay {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  text-align: center;
  background: inherit;
  vertical-align: middle;
}

.header-overlay-content {
  padding: 4rem;
}

.header-overlay h2 {
  /* font-size: large; */
  font-weight: 800;
  color: rgb(36, 36, 36);
}
.header-overlay span {
  color: black;
}

.header-overlay p {
  color: rgb(200, 198, 198);
}

.main-header-parallax {
  position: relative;
  /* background-color: white; */
}

.main-header-content {
}
