.navbar-toggler{
    padding: 2px;
}

a{
    color: black;
    font-family:  system-ui, "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: medium;
}

.active{
    color: #3B71CA;

}

.navbar{
    /* background: linear-gradient(to right,#3B71CA -10%,white 110%); */
    background-color: #0A152F;
    position: sticky; 
    top: 0;
    z-index: 1;
}


/* @keyframes moveGradient {
    0% {
        background: linear-gradient(to right,black 20%,white 90%);
    }
    100% {
        background: linear-gradient(to left,black 20%,white 90%);
    }
    
} */









