* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(to bottom, white 0%, lightpink 50%, white 100%); */
    background-color:#FFFCF8 ;
}


/* //3B71CA */

/* FFFCF8 */