* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(to bottom, white 0%, lightpink 50%, white 100%); */
    background-color:#FFFCF8 ;
    /* background: linear-gradient(to right,#FFDBF5 -20%,white,#3EACE8 ); */
}







/* //3B71CA */

/* FFFCF8 */

/* FFDBF5 */

/* 3EACE8 */